* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #1a1a1a;
    color: #f4f4f4;
}

html {
  scroll-behavior: smooth;
}

/* .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    z-index: 1000;
    border-bottom: 1px #444;
}*/

.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px 20px;
    overflow: hidden;
    position: sticky;
    top: 0;
    background-color: #1a1a1a;
    z-index: 1000;
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-right {
    justify-content: flex-end;
}

.nav-middle {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links {
    display: flex;
    justify-content: center; /* Centers the links horizontally */
    list-style: none;
    padding: 0;
}

.nav-links li {
  margin: 0 20px;
}

.nav-links a {
  text-decoration: none;
  color: #aaa;
  font-size: 1rem;
  font-family: "Cutive Mono", monospace;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ff4d4d;
}

.mobile-menu-icon {
    display: none;;
}

.nav-bar-instagram-logo i {
    color: #aaa !important; 
}

.nav-bar-instagram-logo {
    font-size: 35px;
    color: #aaa;
    text-decoration: none;
    margin: 0 20px;
}

.nav-bar-instagram-logo:hover {
    color: #ff4d4d;
    cursor: pointer;
}

.nav-bar-instagram-logo:visited {
    color: #ff4d4d;
}

.nav-bar-instagram-logo a {
    text-decoration: none;
    color: #aaa;
}

#nav-site-name {
    font-family: "Cutive Mono", monospace;
    font-size: 25px;
    color: #aaa;
    list-style: none;
    text-decoration: none;
    margin: 0 20px;
}

#nav-site-name:hover {
    color: #ff4d4d;
    cursor: pointer;
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 320px;
}

.site-title {
    font-family: "Lora", serif;
    font-size: 60px;
    text-align: center;
    color: cornsilk;
    border-bottom: 2px solid #333;  
}

#h2-collection {
    font-family: "Cutive Mono", monospace;
    font-size: 50px;
    color: #ff4d4d;
    text-align: center;
    margin: 0;
    /*border-bottom: 2px solid #333;*/
}

.content-section {
    align-items: center;
    justify-content: center;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 40px;
    margin-left: 110px;
    gap: 20;
    align-items: center;
}

.product-card {
    background: #222;
    border: 2px solid #444;
    width: 100%;
    max-width: 300px;
    height: 420px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 20px;
    transform: 0.3s ease, border 0.3s ease;
    transition: 0.3s ease;
}

.product-card:hover {
    transform: translateY(-7px);
    border: 1px solid #ff4d4d;
    transition: 0.1s ease;
    border-width: 2px;
}

.product-img {
    width: 100%;
    max-width: 250px;
    height: auto;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 20px;

}

.item-name {
    font-family: "Cutive Mono", monospace;
}

.item-price {
    font-family: "Cutive Mono", monospace;
    font-size: 20px;
    color: #ff4d4d;
}

.view-btn {
    font-family: "Cutive Mono", monospace;
    font-size: 20px;
    border: 2px solid #aaa;
    background: transparent;
    color: #f4f4f4;
    transition: 0.5s ease;
}

.view-btn:hover {
    cursor: pointer;
    color: #222;
    background: #aaa;
    transition: 0.3s ease;
}

.view-btn:active {
    background: #333;
    color: #aaa;
    transition: 0.1s ease;
}

.full-collection {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.view-collection-btn {
    border: solid;
    width: 100%;
    max-width: 250px;
    height: auto;
    font-family: "Cutive Mono", monospace;
    font-size: 25px;
    background-color: transparent;
    text-decoration: none;
    border-color: #aaa;
    color: #f4f4f4;
    margin-top: 50px;
    transition: 0.5s ease
}

.view-collection-btn:hover {
    cursor: pointer;
    color: #222;
    background-color: transparent;
    transition: 0.3s ease;
}

.view-collection-btn:active {
    background: #333;
    color: #aaa;
    transition: 0.1s ease;
}

/* Big Pop up Card */

.big-card-container {
    background-color: #444;
    width: 100%;
    max-width: 900px;
    min-height: 500px; 
    height: auto;
    border: 2px solid #555;
    margin: 0 auto;
    margin-bottom: 30px;
    border: 2px solid #aaa;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    gap: 20px;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    justify-content: right;
    background: transparent;
    color: #f4f4f4;
    border: none;
    font-size: 35px;
    padding: 0;
}

.close-btn:hover {
    color: #ff4d4d;
    cursor: pointer;
}

.close-btn:active {
    color: #ff4d4d;
    transform: translateY(1px);
}

#big-card-img {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 420px;
    height: auto;
}

.big-card-info {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    
}

.big-card-h3 {
    font-family: "Buda", serif;
    font-size: 50px;
    color: #f4f4f4;
    border-bottom: 3px solid #555;
    width: 100%;
    max-width: 350px;
    height: auto;
    text-align: center;
    margin-bottom: 15px;
}

#big-card-price {
    font-family: "Cutive Mono", monospace;
    font-size: 30px;
    color: #ff4d4d;
}

.big-card-p {
    font-family: "Cutive Mono", monospace;
    font-size: 17px;
    color: #aaa;
    width: 100%;
    max-width: 310px;
    text-align:start;
}

.big-card-list {
    font-size: 13px;
    font-family: "Cutive Mono", monospace;
    color: #f4f4f4;
    text-align: left;
    width: 100%;
    max-width: 220px;
    height: auto;
    list-style-type: none;
}

.footer {
    text-align: center;
    padding: 20px 0;
    background-color: #1a1a1a;
    color: #aaa;
    font-family: "Cutive Mono", monospace;
    font-size: 14px;
    border-top: 1px solid #444;
    margin-top: 40px;
}

.contact-container {
    display: flex;
    align-items: center;
    gap: 40px;
    padding:  20px;
    width: 100%;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.h2-contact {
    font-family: "Cutive Mono", monospace;
    font-size: 40px;
    color: #ff4d4d;
    margin-bottom: 10px;
}

.contact-image, .contact-form {
    flex: 1;
}

/*.contact-us-img {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    margin-right: auto;
    padding: 0 5px;
    margin-top: 200px;
    margin-bottom: 130px;
}*/

.contact-input {
    font-family: "Cutive Mono", monospace;
    font-size: 16px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    max-width: 300px;
    border: 1px solid #555;
    background-color: #222;
    color: #f4f4f4;
    flex-direction: row;
}

.contact-textarea {
    font-family: "Cutive Mono", monospace;
    font-size: 16px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    max-width: 500px;
    height: 150px;
    border: 1px solid #555;
    background-color: #222;
    color: #f4f4f4;
}

.contact-submit-btn {
    font-family: "Cutive Mono", monospace;
    font-size: 18px;
    padding: 10px 20px;
    border: 2px solid #aaa;
    background: transparent;
    color: #f4f4f4;
    transition: 0.5s ease;
}

.contact-submit-btn:hover {
    cursor: pointer;
    color: #222;
    background: #aaa;
    transition: 0.3s ease;
}

.contact-submit-btn:active {
    background: #333;
    color: #aaa;
    transition: 0.1s ease;
}   

.hidden-message {
    font-family: "Cutive Mono", monospace;
    margin-top: 20px;
    font-size: 16px;
    height: 20px; /* Reserves space so the layout doesn't jump */
}

@media (max-width: 768px) {

    .contact-container {
        flex-direction: column; /* Stacks the image and form vertically */
        padding: 10px;
        gap: 20px;
    }

    .contact-form {
        width: 100%; /* Make the form take up the full width */
    }

    .contact-input, .contact-textarea {
        max-width: 100%; /* Inputs now fill the phone screen */
        width: 100%;
    }

    .h2-contact {
        font-size: 30px; /* Make the title slightly smaller on phones */
    }

    body {
        margin: 0;
        padding: 0;
    }

    .product-grid {
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
        justify-items: center;
    }

    /*.navbar {
        justify-content: space-between;
        flex-direction: row;
        position: fixed;
        max-width: 100%;
        height: auto;
    }*/

    .navbar {
        display: flex;
        justify-content: space-between; 
        align-items: center;
        padding: 10px 20px;
        overflow: hidden;
        position: sticky;
        top: 0;
        background-color: #1a1a1a;
        z-index: 1000;
        max-width: 100%;
        position: relative; 
    }

    .nav-links {
        display: none;
        flex-direction: column; 
        align-items: center;   
        gap: 15px;           
        list-style: none;
        padding: 0;
    }

    .nav-links a {
        font-size: 15px;
    }

    .mobile-menu-icon {
        display: block;
        font-size: 30px;
        color: #aaa;
        cursor: pointer;
        background: transparent;
        border: none;
        outline: none;
    }

    .nav-bar-instagram-logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%); 
        margin: 0;
    }

    .nav-left {
        display: flex;
        align-items: center;
    }

    .nav-middle {
        display: flex;
        justify-content: flex-end;
        flex: 1;
    }

    .nav-links.active {
        display: flex;
    }

    .hero-section {
        display: flex;
        justify-content:Center;
        align-items: flex-start;
        padding-top: 30px;
    }

    .site-title {
        font-size: 40px;
        width: 100%;
        display: block;
        padding: 0 10px;
    }

    #h2-collection {
        font-size: 25px;     
    }

    /* Pop up card */
    .big-card-container {
        flex-direction: column;
        padding: 40px 20px;
        text-align: center; 
    }

    #big-card-img {
        max-width: 250px;
    }

    .big-card-info {
        align-items: center;
    }

    .big-card-h3 {
        width: 100%;
        font-size: 35px;
    }

    
}

@media (hover: hover) {
    .view-btn:hover {
        cursor: pointer;
        color: #222;
        background: #aaa;
        transition: 0.3s ease;
    }

    .view-collection-btn:hover {
        cursor: pointer;
        color: #222;
        background: #aaa;
        transition: 0.3s ease;
    }

    .product-card:hover {
        transform: translateY(-7px);
        border: 1px solid #ff4d4d;
        transition: 0.1s ease;
        border-width: 2px;
    }
}

.view-btn:active, .product-card:active {
    transform: scale(0.96);
    transition: 0.1s ease;
}

.view-collection-btn:active {
    transform: scale(0.98);
    background-color: #333; /* Darkens the background when pressed */
}